body {
  font-family: Lato, sans-serif;
}

.navbar-collapse {
  text-align: right;
  padding-right: 30px;
}

.glyphicon {
  font-size: 20px;
}

.front-buttons {
  display: inline;
}


/* General section parameters, useful so that each section looks similar
   with regards to padding*/
.section {
  padding-top: 70px;
  padding-bottom: 50px;
  min-height:calc(100% - 1px);
}

.pad-expand {
  padding-top: 20%;
  padding-bottom: 25%;
}

/* Home */

.hr-home {
  width: 25%;
  height: 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#home {
  color: rgba(255,255,255,1.0);
  background-color: #3499DB;
  background-size: 100% 100%;
  opacity: 1.0;
  filter: alpha(opacity=100);
  font-weight: 300;
}

.fa {
  color: rgba(255,255,255,0.87);
  margin-left: 1.0rem;
  margin-right: 1.0rem;
}

.fa:hover {
  color: rgba(255,255,255,0.50);
}

.title {
  color: rgba(255,255,255,0.70);
}

/* About */

#about {
  color: rgba(0,0,0,0.89);
  background-color: #fff;
}

/* Portfolio */

#portfolio {
  color: black;
  background-color: #eeeeee;
  text-align: center;
}

#portfolio a {
  display: inline-block;
  text-align: center;
  text-decoration: inherit;
  color: inherit;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 5rem;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0,0,0,0.12);
}

#portfolio a h4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

img {
  max-width: 350px;
}

/* Contact */

#contact {
  background-color: #3499DB;
}

/* Footer */

footer {
  color: white;
  background-color: #3499DB;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: inherit;
}
